{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a class="btn btn-primary pull-right" href="{{ path('regioes_new') }}">Cadastrar Novo</a>    
        <h2>Regiões</h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Região</th>               
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for regiao in regioes %}
                <tr>
                    <td><a href="{{ path('regioes_show', { 'id': regiao.id }) }}">{{ regiao.id }}</a></td>
                    <td>{{ regiao.regiao|capitalize }}</td>              
                    <td>
                        <a class="btn btn-info" href="{{ path('regioes_edit', {'id': regiao.id}) }}" title="Editar">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
