{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fornecedore</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fornecedore.id }}</td>
            </tr>
            <tr>
                <th>Cnpj</th>
                <td>{{ fornecedore.cnpj }}</td>
            </tr>
            <tr>
                <th>Razaosocial</th>
                <td>{{ fornecedore.razaoSocial }}</td>
            </tr>
            <tr>
                <th>Nomefantasia</th>
                <td>{{ fornecedore.nomeFantasia }}</td>
            </tr>
            <tr>
                <th>Inscricaoestatual</th>
                <td>{{ fornecedore.inscricaoEstatual }}</td>
            </tr>
            <tr>
                <th>Endereco</th>
                <td>{{ fornecedore.endereco }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ fornecedore.numero }}</td>
            </tr>
            <tr>
                <th>Complemento</th>
                <td>{{ fornecedore.complemento }}</td>
            </tr>
            <tr>
                <th>Cep</th>
                <td>{{ fornecedore.cep }}</td>
            </tr>
            <tr>
                <th>Bairro</th>
                <td>{{ fornecedore.bairro }}</td>
            </tr>
            <tr>
                <th>Usuariocadastro</th>
                <td>{{ fornecedore.usuarioCadastro }}</td>
            </tr>
            <tr>
                <th>Datacadastro</th>
                <td>{% if fornecedore.dataCadastro %}{{ fornecedore.dataCadastro|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ativo</th>
                <td>{{ fornecedore.ativo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fornecedores_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('fornecedores_edit', { 'id': fornecedore.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
