{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="pull-right">           
            <span></span>    
            <a class="btn btn-success" href="{{ path('contatosfornecedores_new_with_fornecedor', { 'id': fornecedor.id }) }}">
                <span class="glyphicon glyphicon-user"></span>
                Novo Contato
            </a>
            <a class="btn btn-info" href="{{ path('fornecedores_edit', {'id': fornecedor.id}) }}" title="Editar dados do fornecedor">
                <span class="glyphicon glyphicon-cog"></span>
                Editar
            </a>
            <a href="{{ path('fornecedores_index') }}"  class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>                
                Fechar
            </a>
        </div>
        <h2><b>Fornecedor #{{ fornecedor.id }}</b></h2>
    </div>
    <br>
    <table class="table">
        <tbody>
            <tr>
                <th>Código</th>
                <td>{{ fornecedor.id }}</td>
            </tr>
            <tr>
                <th>CNPJ</th>
                <td>{{ fornecedor.cnpj }}</td>
            </tr>
            <tr>
                <th>Razão Social</th>
                <td>{{ fornecedor.razaoSocial }}</td>
            </tr>
            <tr>
                <th>Nome Fantasia</th>
                <td>{{ fornecedor.nomeFantasia }}</td>
            </tr>
            <tr>
                <th>Inscrição Estatual</th>
                <td>{{ fornecedor.inscricaoEstatual }}</td>
            </tr>
            <tr>
                <th>Endereço</th>
                <td>{{ fornecedor.endereco }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ fornecedor.numero }}</td>
            </tr>
            <tr>
                <th>Complemento</th>
                <td>{{ fornecedor.complemento }}</td>
            </tr>
            <tr>
                <th>Cep</th>
                <td>{{ fornecedor.cep }}</td>
            </tr>
            <tr>
                <th>Bairro</th>
                <td>{{ fornecedor.bairro }}</td>
            </tr>
            <tr>
                <th>Cadastrado por</th>
                <td>{{ fornecedor.usuarioCadastro }}</td>
            </tr>
            <tr>
                <th>Data de Cadastro</th>
                <td>{% if fornecedor.dataCadastro %}{{ fornecedor.dataCadastro|date('d/m/Y H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ativo</th>
                <td>{% if fornecedor.ativo == 'S' %}{{ 'Sim' }}{% else %}{{ 'Não' }}{% endif %}</td>                
            </tr>
        </tbody>
    </table>
    <div>
        <h3><b>Contatos</b></h3>
    </div>        
    <table class="table">
        <thead>
             <th>Contato</th>
             <th>E-Mail</th>
             <th>Telefone</th>
             <th>Data de Cadastro</th>
             <th>Editar</th>
        </thead>
        <tbody>
            {% for contatoFornecedor in contatosFornecedores %}
                <tr>                   
                    <td>{{ contatoFornecedor.contato }}</td>
                    <td>{{ contatoFornecedor.email }}</td>
                    <td>({{ contatoFornecedor.ddd }}){{ contatoFornecedor.telefone }}</td>
                    <td>{% if contatoFornecedor.dataCadastro %}{{ contatoFornecedor.dataCadastro|date('d/m/Y H:i:s') }}{% endif %}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('contatosfornecedores_edit', {'id': contatoFornecedor.id}) }}" title="Editar dados do fornecedor">
                        <span class="glyphicon glyphicon-cog"></span>
                        Editar
                    </a>
                    </td>
                </tr>
            {% endfor %} 
        </tbody>
    </table>
    <div>
        <a href="{{ path('fornecedores_index') }}"  class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>
            Fechar
        </a>
        <div class="pull-right">
            <a href="#top" title="Ir para o topo">
                <span class="glyphicon glyphicon-chevron-up"></span>                
            </a> 
        </div>
        <br><br><br><br>    
    </div>            
{% endblock %}


