{% extends 'base.html.twig' %}

{% block body %}
    <h2>Estado #{{ estado.id }}</h2>   

    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Estado</th>
                <th>UF</th>
                <th>Região</th>  
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>           
            <tr>
                <td>{{ estado.id }}</td>
                <td>{{ estado.estado }}</td>
                <td>{{ estado.uf }}</td>
                <td>{{ estado.idRegiao|upper }}</td>                    
                <td>
                    <a class="btn btn-info" href="{{ path('estados_edit', {'id': estado.id}) }}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </td>
            </tr>           
        </tbody>
    </table>
    <div>
        <a href="{{ path('estados_index') }}"  class="btn btn-success">
            Retornar
        </a>
    </div>
{% endblock %}
