{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a class="btn btn-primary pull-right" href="{{ path('tiposcidades_new') }}">Novo Tipo</a>    
        <h2>Tipos de Cidades</h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Tipo de Cidade</th>                
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for tiposCidade in tiposCidades %}
                <tr>
                    <td>
                        <a href="{{ path('tiposcidades_show', { 'id': tiposCidade.id }) }}">
                            {{ tiposCidade.id }}
                        </a>
                    </td>
                    <td>
                        {{ tiposCidade.tipo|capitalize }}
                    </td>                  
                    <td>
                        <a class="btn btn-info" href="{{ path('tiposcidades_edit', {'id': tiposCidade.id}) }}" title="Editar">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}