{% extends 'base.html.twig' %}

{% block body %}
    <h2>Região #{{ regiao.id }}</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Região</th>               
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ regiao.id }}</td>
                <td>{{ regiao.regiao|capitalize }}</td>              
                <td>
                    <a class="btn btn-info" href="{{ path('regioes_edit', {'id': regiao.id}) }}" title="Editar">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a href="{{ path('regioes_index') }}"  class="btn btn-success">
            Retornar
        </a>
    </div>
{% endblock %}
