{% extends 'base.html.twig' %}

{% block body %}
    <div>           
        <h2>Tipo de Cidade #{{ tiposCidade.id }}</h2>
    </div>    
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Tipo de Cidade</th>                
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>           
            <tr>
                <td>
                    {{ tiposCidade.id }}                    
                </td>
                <td>
                    {{ tiposCidade.tipo|capitalize }}
                </td>                  
                <td>
                    <a class="btn btn-info" href="{{ path('tiposcidades_edit', {'id': tiposCidade.id}) }}" >
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </td>
            </tr>            
        </tbody>
    </table>
    <div>
        <a href="{{ path('tiposcidades_index') }}"  class="btn btn-success"> Retornar</a>
    </div>
{% endblock %}